{% extends 'app/base.html' %}


{% block content %}

<div class="text-center my-5">

    <div class="mb-3">
        <h1>予約カレンダー</h1>
        <p>{{ year }}年{{ month }}月{{ day }}日 </p>
    </div>

    <div class="">
        <table class="table table-bordered bg-light">
            <thead class="thead-light">
                <tr>
                    <th></th>
                    {% for room in room_data %}
                            <th scope="col" class="text-primary">{{ room }}</th>
                    {% endfor %}
            </thead>
            <tbody>
                {% for hour, schedules in calendar.items %}
                    <tr>
                        <td scope="row">{{ hour }}:00</td>
                        {% for datetime, book in schedules.items %}
                            <td>
                                {% if book %}
                                    <a href='{% url "app:booking" room_data.id datetime.year datetime.month datetime.day hour %}'>
                                        <i class="far fa-circle text-info"></i>                                        
                                    </a>
                                {% else %}
                                    <i class="fas fa-times text-danger"></i>
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}